<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Books Sorted by Name
    </title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h1>
        Books Sorted by Name
    </h1>

    <%
        function quickSort(arr) {
            if (arr.length <= 1) {
                return arr;
            }

            const pivot = arr[0];
            const left = [];
            const right = [];

            for (let i = 1; i < arr.length; i++) {
                if (arr[i].bookName.localeCompare(pivot.bookName) < 0) {
                    left.push(arr[i]);
                } else {
                    right.push(arr[i]);
                }
            }

            return [...quickSort(left), pivot, ...quickSort(right)];
        }
        const sortedBooks = quickSort(books);
    %>

        <ul>
            <% for (let i = 0; i < sortedBooks.length; i++) { %>
                <li>
                    <strong><%= sortedBooks[i].bookName %></strong> by
                    <%= sortedBooks[i].authorName %><br> Number of Pages:
                        <%= sortedBooks[i].numPages %><br> Price: Rs
                            <%= sortedBooks[i].price %><br> Published Year:
                                <%= sortedBooks[i].publishDate %><br>
                </li>
                <% } %>
        </ul>
        <a href="/">Back to Library</a>
</body>

</html>