<!-- sort_books_by_name.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Sorted by Name</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h1>Books Sorted by Name</h1>

    <ul>
        <% for (let i = 0; i < books.length; i++) { %>
            <li>
                <strong><%= books[i].bookName %></strong> by
                <%= books[i].authorName %><br> Number of Pages:
                <%= books[i].numPages %><br> Price: Rs <%= books[i].price %><br> Published Year:
                <%= books[i].publishDate %><br>
                <a href="<%= books[i].pdfFile %>" download="<%= books[i].bookName %>.pdf">Download PDF</a><br>
            </li>
        <% } %>
    </ul>
    <a href="/">Back to Library</a>
</body>

</html>
